@font-face {
  font-family: Subtitle;
  src: url('/fonts/Labirin-owMox.ttf');
}

@font-face {
  font-family: Sci-fi;
  src: url('/fonts/StarryFayez-JRW6B.ttf');

}

@font-face {
  font-family: Outerspace;
  src: url('/fonts/Space-lmX5.ttf');
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(15px);
  background: #2c3e5000;
  /* color: #ecf0f1; */
  line-height: 1.25;
  font-family: Outerspace;
  text-align: center;
  /* to center item vertically and horizontally*/
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  animation: showPage 1.25s 1 linear forwards;
}

.backButton {
  position: fixed;
  padding: 15px;
  background: #2c3e50;
  border-radius: 40px;
  box-shadow: inset 0 0 0 3px #7be2e2;
  left: 10px;
  transition: all linear 0.25s;
}

.backButton:hover {
  margin-left: 20px;
  transform: scale(1.25);
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
  background: transparent;
}

.box {
  width: 300px;
  height: 460px;
  text-align: center;
  position: relative;
  background: rgb(66, 218, 197);
  display: inline-block;
  margin: 0 50px;
  cursor: pointer;
  color: #2c3e50;
  box-shadow: inset 0 0 0 3px #2c3e50;
  transition: all 0.2s 0.3s linear;
  user-select: none;

}

.box:hover {
  background: rgba(255, 255, 255, 0);
  transform: scale(1.25);
  transition-delay: 0s;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
}

.box h3 {
  font-family: Sci-fi;
  font-size: 40px;
  line-height: 300px;
  margin: 0;
  font-weight: 40px;
  width: 100%;
}

.box span {
  display: block;
  font-family: Subtitle;
  font-weight: 50px;
  letter-spacing: 1px;
  font-size: 25px;
  padding: 0px;
}

.box h3,
.box span {
  transition: color 0.2s 0.3s;
}

.box:hover h3,
.box:hover span {
  color: #fff;
  transition-delay: 0s;
}

.box svg {
  position: absolute;
  top: 0;
  left: 0;
}

.box svg line {
  stroke-width: 3;
  stroke: #ecf0f1;
  fill: none;
  transition: all .8s ease-in-out;
}

.box:hover svg line {
  transition-delay: 0.1s;
}

.box svg line.top,
.box svg line.bottom {
  stroke-dasharray: 330 240;
}

.box svg line.left,
.box svg line.right {
  stroke-dasharray: 490 400;
}

.box:hover svg line.top {
  transform: translateX(-600px);
}

.box:hover svg line.bottom {
  transform: translateX(600px);
}

.box:hover svg line.left {
  transform: translateY(920px);
}

.box:hover svg line.right {
  transform: translateY(-920px);
}

@keyframes showPage {
  0% {
    filter: blur(15px);
    background: #2c3e5000;
  }

  25% {
    filter: blur(9px);
    background: #2c3e5033;
  }

  50% {
    filter: blur(5px);
    background: #2c3e5079;
  }

  75% {
    filter: blur(2x);
    background: #2c3e50b7;
  }

  100% {
    filter: blur(0px);
    background: #2c3e50fa;
  }
}
