.container_menu {
  position: absolute;
  visibility: visible;
  top: 30;
  right: 30;
  border: transparent;
  background: #2c3e5081;
  user-select: none;
  backdrop-filter: blur(3px);
  overflow: hidden;
  height: 375px;
  width: 250px;
  cursor: grab;
  border-radius: 25px;
  transition: all 0.4s ease-out;
  z-index: 999;
}
.container_menu:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
}
.container_menu .title_bar {
  position: sticky;
  top: 0px;
  border: transparent;
  background: #3a536b2c;
  user-select: none;
  overflow: hidden;
  height: 40px; 
  color: aliceblue;
  font-family: Sci-fi;
  font-size: 25px;
  backdrop-filter: blur(3px);
  padding-left: 0px;
  padding-top: 5px;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
  /* cursor: grab; */
}

.container_menu .exit_btn {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 30px;
  width: 30px;
  border: transparent;
  font-family: Outerspace;
  background: transparent;
  font-size: 15px;
  padding: 5px;
  color: rgb(198, 235, 236);
  transition: all 0.4s ease-in-out;
}
.container_menu .clear_btn {
  position: absolute;
  left: 5px;
  top: 5px;
  height: 30px;
  width: 30px;
  border: transparent;
  font-family: Outerspace;
  background: transparent;
  font-size: 15px;
  padding: 5px;
  color: rgb(198, 235, 236);
  transition: all 0.4s ease-in-out;
}
.container_menu input {
  position: relative;
  left: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  /* top: 0px;  */
  height: 40px;
  width: 80px;
  text-align: center;
  border: 3px ridge white;
  border-radius: 20px;
  font-family: Outerspace;
  background: transparent;
  font-size: 15px;
  padding: 6px;
  color: rgb(173, 217, 253);
  transition: all 0.2s ease-in-out;
}
.container_menu input:focus {
  color: rgb(128, 251, 255);
  transform: scale(1.15);
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
}
.container_menu .edge_panel {
  position: absolute;
  padding-left: 10px;
  left: 0px;
  top: 0px; 
  margin-top: 50px;
  height: auto;
  width: 80px;
  border: transparent;
  font-family: Outerspace;
  text-align: center;
  background: transparent;
  font-size: 15px;
  /* padding: 5px; */
  color: rgb(198, 235, 236);
  transition: all 0.4s ease-in-out;
}
.container_menu .edge_panel span {
  position: relative;
  left: 15px;
  height: 50px;
  width: 100px;
  border: transparent;
  font-family: Sci-fi;
  text-align: center;
  background: transparent;
  font-size: 15px;
  padding: 5px;
  color: rgb(198, 235, 236);
  transition: all 0.4s ease-in-out;
}
.container_menu .edge_panel button {
  position: relative;
  left: 15px;
  /* top: 5px; */
  height: 30px;
  width: 30px;
  border: transparent;
  font-family: Outerspace;
  background: transparent;
  font-size: 15px;
  padding: 5px;
  color: rgb(198, 235, 236);
  transition: all 0.4s ease-in-out;
}
.container_menu .node_panel {
  position: absolute;
  right: 30px;
  top: 0px; 
  margin-top: 50px;
  height: auto;
  width: 80px;
  text-align: center;
  border: transparent;
  font-family: Outerspace;
  background: transparent;
  font-size: 15px;
  padding: 5px;
  color: rgb(198, 235, 236);
  transition: all 0.4s ease-in-out;
}
.container_menu .node_panel span {
  position: relative;
  left: 7px;
  height: 50px;
  width: 100%;
  border: transparent;
  text-align: center;
  font-family: Sci-fi;
  background: transparent;
  font-size: 15px;
  padding: 5px;
  color: rgb(198, 235, 236);
  transition: all 0.4s ease-in-out;
}
.container_menu .node_panel button {
  position: relative;
  left: 14px;
  /* top: 5px; */
  height: 30px;
  width: 30px;
  border: transparent;
  font-family: Outerspace;
  background: transparent;
  font-size: 15px;
  padding: 5px;
  color: rgb(198, 235, 236);
  transition: all 0.4s ease-in-out;
}

.container_menu button:hover {
  transform: scale(1.25);
  cursor: pointer;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
  color: aliceblue;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
}


