.container_menu {
  position: fixed;
  visibility: visible;
  top: 50%;
  left: 50%;
  border: transparent;
  background: #2c3e5081;
  user-select: none;
  backdrop-filter: blur(3px);
  overflow: hidden;
  height: 500px;
  width: 200px;
  border-radius: 25px;
  transition: all 0.4s ease-out;
  z-index: 999;
}
.container_menu:hover {
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
  border: 5px ridge palegoldenrod;
}

