.container_menu {
  position: absolute;
  visibility: hidden;
  top: 50%;
  right: 50%;
  border: transparent;
  background: white;
  height: 800px;
  width: 500px;
  border-radius: 100%;
  z-index: 999;
}

