.galaxy {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  color: rgb(70, 255, 199);
  z-index: -3;
}
.galaxy .stars,
.galaxy .twinkling {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.galaxy .stars {
  z-index: -2;
  background: #000 url("../../images/stars.png") repeat top center;
}

.galaxy .twinkling {
  z-index: -1;
  background: transparent url("../../images/twinkling.png") repeat top center;
  animation: move-twink-back 200s linear infinite;
}
.graph {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0px;
  background: transparent;
}
.node {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  color: #0073e6;
  background: rgba(60, 225, 231, 0.671);
}
.graph .edge {
  background: #0073e6;
}
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -10000px 5000px;
  }
}
