.bottom {
  position: fixed;
  font-family: Sci-fi;
  color: #f3f4f5;
  opacity: 0.5;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  background: #2c3e5081;
  backdrop-filter: blur(5px);
  font-size: 40px;
  margin: 0;
  padding: 0px;
  font-weight: 40px;
  width: 100%;
  height: 350px;
  bottom: -300px;
  left: auto;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
  user-select: none;
  transition: all ease-in-out 0.65s;
}

.bottom::after {
  content: '';
  bottom: 0px;
  transform: translateX(100%);
  width: 100%;
  height: 1500px;
  position: absolute;
  z-index: 3;
  animation-name: slide;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(165, 245, 180, 0.541) 25%, rgb(228, 240, 231) 50%, rgba(181, 250, 194, 0.541) 75%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
}

.bottom:hover {
  opacity: 1;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
  transform: translateY(-300px);
}

.bottom:hover::after {
  background: transparent;
  animation: null;
}

.bottom .title {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 50px;
  opacity: inherit;
  background: inherit;
  backdrop-filter: blur(3.5px);
}

.bottom .map_panel {
  position: relative;
  overflow: hidden;
  left: 62%;
  top: 0;
  width: 48%;
  height: 500px;
  transition: all ease-in-out 0.45s;
  /* background: transparent; */
}

.bottom .map_panel:hover {
  transform: translateX(-20%);
  background: #2c3e507a;
  box-shadow: -5px 5px 10px rgb(32, 4, 9);
  width: 58%;
}

.bottom .map_panel .map_label {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  right: 0px;
  font-size: 35px;
}

.bottom .map_panel .map_option {
  /* justify-items: left; */
  position: relative;
  margin-top: 5px;
  padding: 0px;
  height: 70px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.bottom .map_panel .map_option:hover {
  color: #020202;
  background: rgb(66, 218, 198);
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
}

.bottom .map_panel .map_option:hover::after {
  content: '';
  bottom: 0px;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(139, 180, 241, 0.541) 25%, rgb(228, 240, 231) 50%, rgba(181, 250, 194, 0.541) 75%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
}

.bottom .map_panel .connected_regions_label {
  position: absolute;
  left: 50px;
  top: 25px;
  font-size: 20px;
  font-weight: 20px;
  letter-spacing: 5px;
  font-family: Outerspace;
}

.switch {
  z-index: 3;
  display: inline-block;
  position: absolute;
  font-size: 0.35em;
  font-weight: bold;
  top: 6px;
  left: 550px;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em ridge #2c3e50;
}

.switch::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em ridge #2c3e50;
  border-bottom: 0;
}
.switch button {
  background: transparent;
  border: transparent;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch_left,
.switch_right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch_left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch_right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch_left::before,
.switch_right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch_left::before {
  left: -0.4em;
}

.switch_right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked+.switch_left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked+.switch_left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked+.switch_left+.switch_right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked+.switch_left+.switch_right::before {
  background-color: #ccc;
}

.bottom .graph_panel {
  position: relative;
  left: 0px;
  display: block;
  height: auto;
  width: 52%;
  overflow: hidden;
  transition: all 0.45s ease-in-out;
}

.bottom .graph_panel:hover {
  background: #2c3e50c9;
  box-shadow: 5px 5px 10px rgb(32, 4, 9);
  transform: translateX(0px);
  width: 62%;
}

.bottom .graph_panel .graph_panel_label {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 0px;
  font-size: 35px;
}

.bottom .graph_form {
  position: relative;
  left: -300px;
  margin-top: 20px;
  font-family: Outerspace;
  padding-top: 40px;
  font-size: 20px;
  font-weight: 40;
  width: 100%;
  height: 180px;
  /* overflow: hidden; */
  transition: all ease-in-out 0.6s;
}

.bottom .graph_form:hover {
  color: #020202;
  background: rgb(66, 218, 198);
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
  transform: translateX(300px);
  z-index: 1;
}

.bottom .graph_form:hover::after {
  content: '';
  bottom: 0px;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.25s;
  animation-timing-function: ease-in-out;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(139, 180, 241, 0.541) 25%, rgb(228, 240, 231) 50%, rgba(181, 250, 194, 0.541) 75%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
}

.bottom .graph_form .graph_no {
  font-size: 25px;
  margin: 0;
  position: absolute;
  top: 40%;
  right: 25;
  font-family: Sci-fi;
  font-weight: 1000;
  height: 100px;
  width: 100px;
}

.bottom .graph_form span {
  margin-right: 15px;
  margin-left: 15px;
}

.bottom .graph_form input {
  margin: 0px;
}

.bottom .graph_form input[type="text"] {
  height: 65px;
  width: 65px;
  border-radius: 100%;
  background: transparent;
  color: #f3f4f5;
  padding: 20px;
  border: 1px rgb(233, 175, 238) ridge;
  font-family: Sci-fi;
  font-size: 20px;
  box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #9dd7e6, 0 0 20px rgb(123, 163, 204), 0 0 25px #0073e6, 0 0 30px #50769c, 0 0 35px #45eb8a;
  transition: all 0.25s ease-in-out;
}

.bottom .graph_form input[type="text"]:focus {
  transform: scale(1.15);
  color: #020202;
  border: transparent;
}

.bottom .graph_form input[type=button] {
  height: 65px;
  width: 65px;
  margin-left: 30px;
  margin-right: 30px;
  background: #2e0a0a;
  border: 4px ridge rgb(54, 183, 192);
  border-radius: 100%;
  box-shadow: 0 -2px 0 5px #5c0c0c inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  color: rgb(234, 210, 240);
  font-family: power_symbols;
  font-size: 35px;
  transition: hover 0.5s ease-in-out;
  transition: active 0.5s ease-in-out;
}

.bottom .graph_form input[type=button]:hover {
  color: rgb(2, 2, 2);
  background: #f5bbbb;
}

.bottom .graph_form input[type=button]:active {
  color: rgb(2, 2, 2);
  transform: translateY(5px);
  box-shadow: 0 -2px 0 2px #5c0c0c inset, 0 5px 5px rgba(65, 8, 8, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
  background: #f5bbbb;
  border: 3px solid rgb(81, 188, 214);
}


@keyframes slide {
  0% {
    transform: translateX(-150%);
  }

  40% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(300%);
  }
}
